<?xml version="1.0"?>
<launch>
  <!-- Gazebo options -->
  <arg name="gazebo_gui" default="true" doc="Start Gazebo GUI"/>
  <arg name="paused" default="true" doc="Start Gazebo paused"/>
  <arg name="world_name" default="worlds/empty.world" doc="Gazebo world file"/>
  <arg name="world_pose" default="-x -5 -y 0 -z 0 -R 0 -P 0 -Y 0" doc="Pose to spawn the robot at"/>
  <arg name="initial_joint_positions" default="
        -J jLeftAnkle_rotx -0.3456
        -J jLeftAnkle_roty 0.541
        -J jLeftAnkle_rotz -0.2508
        -J jLeftBallFoot_roty -0.1745
        -J jLeftHip_rotx -0.5235
        -J jLeftHip_roty -1.9443
        -J jLeftHip_rotz 0.5501
        -J jLeftKnee_roty 1.4802
        -J jLeftKnee_rotz 0.0274
        -J jRightAnkle_rotx 0
        -J jRightAnkle_roty 0
        -J jRightAnkle_rotz 0
        -J jRightBallFoot_roty 0
        -J jRightHip_rotx 0.5235
        -J jRightHip_roty -1.9808
        -J jRightHip_rotz -0.6853
        -J jRightKnee_roty 2.0614
        -J jRightKnee_rotz 0
        -J jRightC7Shoulder_rotx 0.0872
        -J jRightElbow_roty -0.2513
        -J jRightElbow_rotz 1.102
        -J jRightShoulder_rotx 0.4691
        -J jRightShoulder_roty 0.2988
        -J jRightShoulder_rotz 1.0869
        -J jRightWrist_rotx 0.3268
        -J jRightWrist_rotz 0.0411
        -J jC1Head_rotx 0
        -J jC1Head_roty 0
        -J jL1T12_rotx 0.1025
        -J jL1T12_roty -0.0228
        -J jL4L3_rotx -0.0153
        -J jL4L3_roty 0.1342
        -J jL5S1_rotx 0.1113
        -J jL5S1_roty 0.0557
        -J jT1C7_rotx 0
        -J jT1C7_roty 0
        -J jT1C7_rotz 0
        -J jT9T8_rotx 0.0199
        -J jT9T8_roty 0.0245
        -J jT9T8_rotz -0.1287"
    doc="Initial joint configuration of the robot"/>

  <!-- Start Gazebo paused to allow the controllers to pickup the initial pose -->
  <!-- <include file="$(find gazebo_ros)/launch/empty_world.launch" pass_all_args="true">
    <arg name="paused" value="true"/>
  </include> -->

  <!-- Set the robot urdf on the parameter server -->
  <param name="robot_description" textfile="$(find moveit_human_config)/config/humanSubject01_48dof.urdf" />

  <!-- Unpause the simulation after loading the robot model -->
  <arg name="unpause" value="$(eval '' if arg('paused') else '-unpause')" />

  <!-- Spawn the robot in Gazebo -->
  <node name="spawn_gazebo_model" pkg="gazebo_ros" type="spawn_model" args="-urdf -param robot_description -model $(arg model) $(arg unpause) $(arg world_pose) $(arg initial_joint_positions)"
    respawn="false" output="screen" />

  <!-- Load the controller parameters onto the parameter server -->
  <rosparam file="$(find moveit_human_config)/config/gazebo_controllers.yaml" />
  <include file="$(dirname)/ros_controllers.launch"/>

  <!-- Spawn the Gazebo ROS controllers -->
  <node name="gazebo_controller_spawner" pkg="controller_manager" type="spawner" respawn="false" output="screen" args="--namespace=/human_gazebo joint_state_controller" />

  <!-- Given the published joint states, publish tf for the robot links -->
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" respawn="true" output="screen" />
</launch>
