__pycache__/
.vscode/
ltl2ba
data/
src/__pycache__/
.vscode/
devel/*
logs/*
build/*
hierarchial_simulation/devel/*
hierarchial_simulation/logs/*
hierarchial_simulation/build/*
.catkin_tools
*.mp4
*.pdf