<?xml version="1.0" encoding="utf-8"?>
<robot
  name="b2x2" xmlns:xacro="http://ros.org/wiki/xacro">
  <xacro:macro name="b2x2">
  <xacro:arg name="brick_color" default="Orange" />
  <xacro:property name="scale" value="0.001"/>
  <xacro:property name="color" value="$(arg brick_color)"/>
  <link
    name="brick">
    <inertial>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <mass
        value="0.001" />
      <inertia
        ixx="0"
        ixy="-0.0"
        ixz="0.0"
        iyy="0.0"
        iyz="0.0"
        izz="0.0" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 ${pi/2}" />
      <geometry>
        <mesh scale="${scale} ${scale} ${scale}"
          filename="file://$(find stmotion_controller)/simulation/meshes/lego/b2x2.stl"/>
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 1" />
      </material>
    </visual>
    <!-- <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 ${pi/2}" />
      <geometry>
        <mesh scale="${scale} ${scale} ${scale}"
          filename="file://$(find stmotion_controller)/simulation/meshes/lego/b2x2.stl"/>
      </geometry>
    </collision> -->
    <gravity>0</gravity>
  </link>
  

  <gazebo reference="brick">
  <kinematic>true</kinematic>
  <xacro:if value="${color == 'Orange'}">
     <material>Gazebo/Orange</material>
    </xacro:if>
    <xacro:if value="${color == 'Green'}">
     <material>Gazebo/Green</material>
    </xacro:if>
    <xacro:if value="${color == 'Black'}">
     <material>Gazebo/Black</material>
    </xacro:if>
    <xacro:if value="${color == 'Blue'}">
     <material>Gazebo/Blue</material>
     </xacro:if>
     <xacro:if value="${color == 'Yellow'}">
     <material>Gazebo/Yellow</material>
    </xacro:if>
    <xacro:if value="${color == 'Red'}">
     <material>Gazebo/Red</material>
    </xacro:if>
    <xacro:if value="${color == 'White'}">
     <material>Gazebo/White</material>
    </xacro:if>
    <xacro:if value="${color == 'Grey'}">
     <material>Gazebo/Grey</material>
    </xacro:if>
    <visual> <transparency> 0 </transparency> </visual>
  </gazebo>
  </xacro:macro>

  <xacro:b2x2>
  </xacro:b2x2>

  
</robot>