<launch>
    <!-- length 0.008 for each grid  -->
    <arg name = "assemble_plate" default="assemble_plate"/>
    <arg name = "assemble_plate_color" default="White" />
    <param name="assemble_plate_description" command="$(find xacro)/xacro 
                                                      $(find hierarchial_simulation)/urdf/lego_baseplate.xacro
                                                      plate_color:=$(arg assemble_plate_color)"/>
    <node name="spawn_assemble_plate" pkg="gazebo_ros" type="spawn_model"
      args="-param assemble_plate_description
            -urdf 
            -x 0
            -y 0
            -z 0.0016
            -model $(arg assemble_plate)"
      respawn="false" output="screen">
    </node>

    <arg name = "storage_plate" default="storage_plate"/>
    <arg name = "storage_plate_color" default="Grey" />
    <param name="storage_plate_description" command="$(find xacro)/xacro  $(find hierarchial_simulation)/urdf/lego_baseplate.xacro 
                                                    plate_color:=$(arg storage_plate_color)"/>
    <node name="spawn_storage_plate" pkg="gazebo_ros" type="spawn_model"
      args="-param storage_plate_description
            -urdf 
            -x 0
            -y 0
            -z 0.0016
            -model $(arg storage_plate)"
      respawn="false" output="screen">
    </node>
    <param name="b28_description" command="$(find xacro)/xacro  $(find hierarchial_simulation)/urdf/lego_2x8.xacro 
                                                    brick_color:='Green'"/>
    <param name="b26_description" command="$(find xacro)/xacro  $(find hierarchial_simulation)/urdf/lego_2x6.xacro 
                                                    brick_color:='Orange'"/>
    <param name="b22_description" command="$(find xacro)/xacro  $(find hierarchial_simulation)/urdf/lego_2x2.xacro 
                                                    brick_color:='Red'"/>
    <param name="b16_description" command="$(find xacro)/xacro  $(find hierarchial_simulation)/urdf/lego_1x6.xacro 
                                                    brick_color:='Yellow'"/>
    <param name="b14_description" command="$(find xacro)/xacro  $(find hierarchial_simulation)/urdf/lego_1x4.xacro 
                                                    brick_color:='Blue'"/>
    <param name="b14_description2" command="$(find xacro)/xacro  $(find hierarchial_simulation)/urdf/lego_1x4.xacro 
                                                    brick_color:='Grey'"/>

    <arg name = "b16_1_fanuc" default="b16_1_fanuc"/>
    <node name="spawn_b16_1_fanuc" pkg="gazebo_ros" type="spawn_model"
      args="-param b16_description
            -urdf 
            -x 0
            -y 0
            -z 0.0016
            -model $(arg b16_1_fanuc)"
      respawn="false" output="screen">
    </node>
    <arg name = "b16_2_fanuc" default="b16_2_fanuc"/>
    <node name="spawn_b16_2_fanuc" pkg="gazebo_ros" type="spawn_model"
      args="-param b16_description
            -urdf 
            -x 0
            -y 0
            -z 0.0016
            -model $(arg b16_2_fanuc)"
      respawn="false" output="screen">
    </node>
    <arg name = "b16_3_fanuc" default="b16_3_fanuc"/>
    <node name="spawn_b16_3_fanuc" pkg="gazebo_ros" type="spawn_model"
      args="-param b16_description
            -urdf 
            -x 0
            -y 0
            -z 0.0016
            -model $(arg b16_3_fanuc)"
      respawn="false" output="screen">
    </node>
    <arg name = "b16_4_fanuc" default="b16_4_fanuc"/>
    <node name="spawn_b16_4_fanuc" pkg="gazebo_ros" type="spawn_model"
      args="-param b16_description
            -urdf 
            -x 0
            -y 0
            -z 0.0016
            -model $(arg b16_4_fanuc)"
      respawn="false" output="screen">
    </node>
    <arg name = "b16_5_fanuc" default="b16_5_fanuc"/>
    <node name="spawn_b16_5_fanuc" pkg="gazebo_ros" type="spawn_model"
      args="-param b16_description
            -urdf 
            -x 0
            -y 0
            -z 0.0016
            -model $(arg b16_5_fanuc)"
      respawn="false" output="screen">
    </node>
    <arg name = "b16_6_fanuc" default="b16_6_fanuc"/>
    <node name="spawn_b16_6_fanuc" pkg="gazebo_ros" type="spawn_model"
      args="-param b16_description
            -urdf 
            -x 0
            -y 0
            -z 0.0016
            -model $(arg b16_6_fanuc)"
      respawn="false" output="screen">
    </node>

    <arg name = "b14_1_fanuc" default="b14_1_fanuc"/>
    <node name="spawn_b14_1_fanuc" pkg="gazebo_ros" type="spawn_model"
      args="-param b14_description
            -urdf 
            -x 0
            -y 0
            -z 0.0016
            -model $(arg b14_1_fanuc)"
      respawn="false" output="screen">
    </node>
    <arg name = "b14_2_fanuc" default="b14_2_fanuc"/>
    <node name="spawn_b14_2_fanuc" pkg="gazebo_ros" type="spawn_model"
      args="-param b14_description
            -urdf 
            -x 0
            -y 0
            -z 0.0016
            -model $(arg b14_2_fanuc)"
      respawn="false" output="screen">
    </node>
    <arg name = "b14_3_fanuc" default="b14_3_fanuc"/>
    <node name="spawn_b14_3_fanuc" pkg="gazebo_ros" type="spawn_model"
      args="-param b14_description
            -urdf 
            -x 0
            -y 0
            -z 0.0016
            -model $(arg b14_3_fanuc)"
      respawn="false" output="screen">
    </node>
    <arg name = "b14_4_fanuc" default="b14_4_fanuc"/>
    <node name="spawn_b14_4_fanuc" pkg="gazebo_ros" type="spawn_model"
      args="-param b14_description
            -urdf 
            -x 0
            -y 0
            -z 0.0016
            -model $(arg b14_4_fanuc)"
      respawn="false" output="screen">
    </node>
    <arg name = "b14_5_fanuc" default="b14_5_fanuc"/>
    <node name="spawn_b14_5_fanuc" pkg="gazebo_ros" type="spawn_model"
      args="-param b14_description2
            -urdf 
            -x 0
            -y 0
            -z 0.0016
            -model $(arg b14_5_fanuc)"
      respawn="false" output="screen">
    </node>
    <arg name = "b14_6_fanuc" default="b14_6_fanuc"/>
    <node name="spawn_b14_6_fanuc" pkg="gazebo_ros" type="spawn_model"
      args="-param b14_description2
            -urdf 
            -x 0
            -y 0
            -z 0.0016
            -model $(arg b14_6_fanuc)"
      respawn="false" output="screen">
    </node>
    <arg name = "b14_7_fanuc" default="b14_7_fanuc"/>
    <node name="spawn_b14_7_fanuc" pkg="gazebo_ros" type="spawn_model"
      args="-param b14_description2
            -urdf 
            -x 0
            -y 0
            -z 0.0016
            -model $(arg b14_7_fanuc)"
      respawn="false" output="screen">
    </node>
    <arg name = "b14_8_fanuc" default="b14_8_fanuc"/>
    <node name="spawn_b14_8_fanuc" pkg="gazebo_ros" type="spawn_model"
      args="-param b14_description2
            -urdf 
            -x 0
            -y 0
            -z 0.0016
            -model $(arg b14_8_fanuc)"
      respawn="false" output="screen">
    </node>

    <arg name = "b28_1_fanuc" default="b28_1_fanuc"/>
    <node name="spawn_b28_1_fanuc" pkg="gazebo_ros" type="spawn_model"
      args="-param b28_description
            -urdf 
            -x 0
            -y 0
            -z 0.0016
            -model $(arg b28_1_fanuc)"
      respawn="false" output="screen">
    </node>
    <arg name = "b28_2_fanuc" default="b28_2_fanuc"/>
    <node name="spawn_b28_2_fanuc" pkg="gazebo_ros" type="spawn_model"
      args="-param b28_description
            -urdf 
            -x 0
            -y 0
            -z 0.0016
            -model $(arg b28_2_fanuc)"
      respawn="false" output="screen">
    </node>

    <arg name = "b26_1_fanuc" default="b26_1_fanuc"/>
    <node name="spawn_b26_1_fanuc" pkg="gazebo_ros" type="spawn_model"
      args="-param b26_description
            -urdf 
            -x 0
            -y 0
            -z 0.0016
            -model $(arg b26_1_fanuc)"
      respawn="false" output="screen">
    </node>
  
    <arg name = "b22_1_fanuc" default="b22_1_fanuc"/>
    <node name="spawn_b22_1_fanuc" pkg="gazebo_ros" type="spawn_model"
      args="-param b22_description
            -urdf 
            -x 0
            -y 0
            -z 0.0016
            -model $(arg b22_1_fanuc)"
      respawn="false" output="screen">
    </node>
  <arg name = "b16_1_fanuc1" default="b16_1_fanuc1"/>
  <node name="spawn_b16_1_fanuc1" pkg="gazebo_ros" type="spawn_model"
    args="-param b16_description
          -urdf 
          -x 0
          -y 0
          -z 0.0016
          -model $(arg b16_1_fanuc1)"
    respawn="false" output="screen">
  </node>
  <arg name = "b16_2_fanuc1" default="b16_2_fanuc1"/>
  <node name="spawn_b16_2_fanuc1" pkg="gazebo_ros" type="spawn_model"
    args="-param b16_description
          -urdf 
          -x 0
          -y 0
          -z 0.0016
          -model $(arg b16_2_fanuc1)"
    respawn="false" output="screen">
  </node>
  <arg name = "b16_3_fanuc1" default="b16_3_fanuc1"/>
  <node name="spawn_b16_3_fanuc1" pkg="gazebo_ros" type="spawn_model"
    args="-param b16_description
          -urdf 
          -x 0
          -y 0
          -z 0.0016
          -model $(arg b16_3_fanuc1)"
    respawn="false" output="screen">
  </node>
  <arg name = "b16_4_fanuc1" default="b16_4_fanuc1"/>
  <node name="spawn_b16_4_fanuc1" pkg="gazebo_ros" type="spawn_model"
    args="-param b16_description
          -urdf 
          -x 0
          -y 0
          -z 0.0016
          -model $(arg b16_4_fanuc1)"
    respawn="false" output="screen">
  </node>
  <arg name = "b16_5_fanuc1" default="b16_5_fanuc1"/>
  <node name="spawn_b16_5_fanuc1" pkg="gazebo_ros" type="spawn_model"
    args="-param b16_description
          -urdf 
          -x 0
          -y 0
          -z 0.0016
          -model $(arg b16_5_fanuc1)"
    respawn="false" output="screen">
  </node>
  <arg name = "b16_6_fanuc1" default="b16_6_fanuc1"/>
  <node name="spawn_b16_6_fanuc1" pkg="gazebo_ros" type="spawn_model"
    args="-param b16_description
          -urdf 
          -x 0
          -y 0
          -z 0.0016
          -model $(arg b16_6_fanuc1)"
    respawn="false" output="screen">
  </node>

  <arg name = "b14_1_fanuc1" default="b14_1_fanuc1"/>
  <node name="spawn_b14_1_fanuc1" pkg="gazebo_ros" type="spawn_model"
    args="-param b14_description
          -urdf 
          -x 0
          -y 0
          -z 0.0016
          -model $(arg b14_1_fanuc1)"
    respawn="false" output="screen">
  </node>
  <arg name = "b14_2_fanuc1" default="b14_2_fanuc1"/>
  <node name="spawn_b14_2_fanuc1" pkg="gazebo_ros" type="spawn_model"
    args="-param b14_description
          -urdf 
          -x 0
          -y 0
          -z 0.0016
          -model $(arg b14_2_fanuc1)"
    respawn="false" output="screen">
  </node>
  <arg name = "b14_3_fanuc1" default="b14_3_fanuc1"/>
  <node name="spawn_b14_3_fanuc1" pkg="gazebo_ros" type="spawn_model"
    args="-param b14_description
          -urdf 
          -x 0
          -y 0
          -z 0.0016
          -model $(arg b14_3_fanuc1)"
    respawn="false" output="screen">
  </node>
  <arg name = "b14_4_fanuc1" default="b14_4_fanuc1"/>
  <node name="spawn_b14_4_fanuc1" pkg="gazebo_ros" type="spawn_model"
    args="-param b14_description
          -urdf 
          -x 0
          -y 0
          -z 0.0016
          -model $(arg b14_4_fanuc1)"
    respawn="false" output="screen">
  </node>
  <arg name = "b14_5_fanuc1" default="b14_5_fanuc1"/>
  <node name="spawn_b14_5_fanuc1" pkg="gazebo_ros" type="spawn_model"
    args="-param b14_description2
          -urdf 
          -x 0
          -y 0
          -z 0.0016
          -model $(arg b14_5_fanuc1)"
    respawn="false" output="screen">
  </node>
  <arg name = "b14_6_fanuc1" default="b14_6_fanuc1"/>
  <node name="spawn_b14_6_fanuc1" pkg="gazebo_ros" type="spawn_model"
    args="-param b14_description2
          -urdf 
          -x 0
          -y 0
          -z 0.0016
          -model $(arg b14_6_fanuc1)"
    respawn="false" output="screen">
  </node>
  <arg name = "b14_7_fanuc1" default="b14_7_fanuc1"/>
  <node name="spawn_b14_7_fanuc1" pkg="gazebo_ros" type="spawn_model"
    args="-param b14_description2
          -urdf 
          -x 0
          -y 0
          -z 0.0016
          -model $(arg b14_7_fanuc1)"
    respawn="false" output="screen">
  </node>
  <arg name = "b14_8_fanuc1" default="b14_8_fanuc1"/>
  <node name="spawn_b14_8_fanuc1" pkg="gazebo_ros" type="spawn_model"
    args="-param b14_description2
          -urdf 
          -x 0
          -y 0
          -z 0.0016
          -model $(arg b14_8_fanuc1)"
    respawn="false" output="screen">
  </node>

  <arg name = "b28_1_fanuc1" default="b28_1_fanuc1"/>
  <node name="spawn_b28_1_fanuc1" pkg="gazebo_ros" type="spawn_model"
    args="-param b28_description
          -urdf 
          -x 0
          -y 0
          -z 0.0016
          -model $(arg b28_1_fanuc1)"
    respawn="false" output="screen">
  </node>
  <arg name = "b28_2_fanuc1" default="b28_2_fanuc1"/>
  <node name="spawn_b28_2_fanuc1" pkg="gazebo_ros" type="spawn_model"
    args="-param b28_description
          -urdf 
          -x 0
          -y 0
          -z 0.0016
          -model $(arg b28_2_fanuc1)"
    respawn="false" output="screen">
  </node>

  <arg name = "b26_1_fanuc1" default="b26_1_fanuc1"/>
  <node name="spawn_b26_1_fanuc1" pkg="gazebo_ros" type="spawn_model"
    args="-param b26_description
          -urdf 
          -x 0
          -y 0
          -z 0.0016
          -model $(arg b26_1_fanuc1)"
    respawn="false" output="screen">
  </node>

  <arg name = "b22_1_fanuc1" default="b22_1_fanuc1"/>
  <node name="spawn_b22_1_fanuc1" pkg="gazebo_ros" type="spawn_model"
    args="-param b22_description
          -urdf 
          -x 0
          -y 0
          -z 0.0016
          -model $(arg b22_1_fanuc1)"
    respawn="false" output="screen">
  </node>
</launch>
