<?xml version="1.0"?>
<launch>
  <!-- <group ns="/fanuc_gazebo">
    <arg name = "robot_arm" default="robot_arm"/>
    <arg name="model" value="fanuc_gazebo"/>
    <node pkg="moveit_fanuc_config" name="move_group_python_interface" type="fanuc_controller.py" output="screen">
      <param name="topic_name" value="chatter" />
    </node>
      </group> -->
    <node pkg="hierarchial_simulation" name="lego_state_refresher" type="demo_human_fanuc_lego.py" output="screen">
      <param name="config_json" value="$(find hierarchial_simulation)/config/BeaconTower.json"/>
      <!-- <param name="config_json" value="$(find hierarchial_simulation)/config/ICL.json"/> -->
    </node>
</launch>